.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
.move-icon {
    margin-right: 5px;
}
.ms-3 {
    opacity: 0.7;
}
.ms-3:hover {
    opacity: 1;
}
  .row.justify-content-center {
    display: flex;
    justify-content: center;
  }
  
  .custom-embed-responsive {
    position: relative;
    max-width: 800px; /* Larghezza massima del video */
    margin: 0 auto; /* Centrare orizzontalmente il video */
    width: 100%;
    padding: 0 50% 56.25% 50%; /* Rapporto 16:9 (calcolato come 9 / 16 * 100) */
  }
  
  .custom-embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
